# Created by https://www.toptal.com/developers/gitignore/api/cmake,c++,gcov,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake,c++,gcov,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### Gcov ###
# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/cmake,c++,gcov,visualstudiocode

# DOCKER
build_docker/ubuntu/20.04/*
!build_docker/ubuntu/20.04/.gitkeep

build_docker/debian/*
!build_docker/debian/.gitkeep

build_docker/archlinux/*
!build_docker/archlinux/.gitkeep

build_docker/manjaro/*
!build_docker/manjaro/.gitkeep

build_docker/fedora/*
!build_docker/fedora/.gitkeep

# NON DOCKER BUILD
RPG/.vscode/*
!RPG/build/.gitkeep
RPG/build/*
!RPG/coverage/.gitkeep
RPG/coverage/*
!RPG/texture/.gitkeep
RPG/texture/*
!RPG/font/.gitkeep
RPG/font/*
!RPG/music/.gitkeep
RPG/music/*

# OTHERS
screenshot/*
old/*

*.vscode
